import init.smdkv210.usb.rc

on early-init
    export EXTERNAL_STORAGE /mnt/sdcard
    mkdir /mnt/sdcard 0000 system system
    # for backwards compatibility
    symlink /mnt/sdcard /sdcard

on post-fs-data
    # we will remap this as /mnt/sdcard with the sdcard fuse tool
    mkdir /data/media 0775 media_rw media_rw
    chown media_rw media_rw /data/media
    setprop vold.post_fs_data_done 1
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp

on boot
	mount debugfs /sys/kernel/debug /sys/kernel/debug
	chmod 0666 /dev/pvrsrvkm
    	setprop ro.build.product smdkv210
    	setprop ro.product.device smdkv210

	chmod 0666 /sys/class/backlight/pwm-backlight.0/brightness
	chown system system /sys/class/backlight/pwm-backlight.0/brightness
	

on fs
# mount ext4 partitions
	mount ext4 /dev/block/mmcblk0p2 /system wait rw
	mount ext4 /dev/block/mmcblk0p3 /data wait noatime nosuid nodev
	mount ext4 /dev/block/mmcblk0p4 /cache wait noatime nosuid nodev
    	export EXTERNAL_STORAGE /mnt/sdcard
	mkdir /mnt/sdcard 0000 system system
	symlink /mnt/sdcard /sdcard
